@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  box-sizing: border-box;
  color: #001533;
}
body {
  margin: 0;
  /* overflow: hidden; */
}
#container {
  display: flex;
  flex-flow: column;
  justify-content: start;
  width: 100%;
  opacity: 0;
}
.border {
  fill: none;
  stroke: #68788e;
  stroke-width: 2;
  stroke-dasharray: 2 3;
  pointer-events: none;  
}
.park {
  fill: #8495a9;
  opacity: .2;
}
.water {
  fill: #00153;
  pointer-events: none;
}
#footer {
  font-family: ABCSansNovaLight, "Arial Narrow", Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  padding-top: 1rem;
  color: #888;
}
p {
  margin: 0;
}
#controls {
  position: fixed;
  display: flex;
  flex-flow: column;
  top: .5rem;
  left: .5rem;
}
.icon {
  width: 1.75rem;
  height: 1.75rem;
  background: white;
  border-radius: .25rem;
  border: solid 1px #8495a9;
  fill: #8495a9;
  margin-bottom: .25rem;
  cursor: pointer;
}
.icon.hover {
  fill: white;
  background: #8495a9;
}
#axisGroup text {
  font-family: ABCSansNovaRegular, Arial, Helvetica, sans-serif;
  font-size: .9rem;
}
.tick line {
  stroke: #001533;
}
#axisGroup .domain {
  stroke: none;
}
#label {
  font-weight: bold;
  text-anchor: middle;
}
#adv {
  text-anchor: end;
}
#legend rect {
  fill: url(#gradient);
}
#tip {
  padding: 3px 5px;
  background: #001533;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: .8rem;
  font-family: ABCSansNovaLight, "Arial Narrow", Helvetica, sans-serif;
  pointer-events: none;
  opacity: 0;
  position: absolute;
}
#tip .title {
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  #footer {
    padding-top: .75rem;
  }
  .axis {
    font-size: .8rem;
  }
  #label {
    font-size: .9rem;
  }
}