@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #001533;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
#header {
  top: .5rem;
  left: .5rem;
  position: absolute;
  background: white;
  color: #68788e;
  box-shadow: 1px 1px 4px #001533;
  display: flex;
  font-family: ABCSansNovaBlack, "Arial Black", -webkit-bodyHelvetica, sans-serif;
  flex-flow: column;
  font-size: .95rem;
  pointer-events: none;
  opacity: 0;
}
.mapboxgl-ctrl-top-right {
  pointer-events: none;
  opacity: 0;
}
#header div {
  padding: .25rem;
  border-bottom: .5px solid #8495a9;
  cursor: pointer;
}
#header div.on {
  background: #037cc2;
  color: white;
  border-bottom: .5px solid #037cc2;
  pointer-events: none;
}
#banner {
  position: absolute;
  background: #037cc2;
  font-family: ABCSansNovaBlack, "Arial Black", -webkit-bodyHelvetica, sans-serif;
  color: white;
  padding: .25rem .5rem;
  font-size: 1.5rem;
  opacity: 0;
}
#legend {
  background: rgba(255, 255, 255, .75);
  pointer-events: none;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 195px;
  width: 90px;
}
#legendTitle {
  fill: #001533;
  font-size: .8rem;
  font-weight: bold;
  text-anchor: middle;
}
#legendTitle tspan:last-child {
  font-weight: lighter;
  font-size: .7rem;
}
#legend rect {
  stroke: #001533;
  stroke-width: .5;
  fill: url(#gradient);
}
#legend #axisGroup .domain {
  stroke: none;
}
#legend #axisGroup .tick line {
  stroke: #001533;
  stroke-width: .5;
}
#axisGroup .tick text {
  fill: #001533;
  font-size: .7rem;
}
@media only screen and (max-width: 600px) {
  #banner {
    padding: .25rem;
    font-size: 1.25rem;
  }
  #legendTitle {
    font-size: .75rem;
  }
  #legendTitle tspan:last-child {
    font-size: .65rem;
  }
  #axisGroup .tick text {
    font-size: .65rem;
  }
}
