@font-face {
  font-family: ABCSansNovaRegular;
  src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
font-family: ABCSansNovaBlack;
src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
font-family: ABCSansNovaLight;
src: url(../fonts/ABCSansNova-Light.otf);
}

:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #001533;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
#container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}
#map {
  width: 100%;
  height: 100%;
  opacity: 0;
}
#header {
  position: fixed;
  display: flex;
}
#header div {
  background: #001533;
  color: white;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  font-size: 1.75rem;
  padding: 3px 6px;
}
#border {
  stroke: #8495a9;
  stroke-dasharray: 2 3;
  fill: none;
}
#water {
  fill: #001533;
  stroke: white;
  pointer-events: none;
}
.suburb {
  stroke: #8495a9;  
  fill: whitesmoke;
  pointer-events: none;
}
.station .shape {  
  stroke: #001533;
}
.station .cell {
  fill: rgba(0, 0, 0, 0);
}
#key {  
  display: flex;
  flex-flow: column;  
}
#key div {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: .75rem 0 .25rem 0;
}
#legend {
  height: 50px;
}
#legend rect {
  stroke: #001533;
  height: 25px;
  fill: url(#gradient);
}
#legendAxis .domain {
  stroke: none;
}
#legendAxis .tick line {
  stroke: #001533;
}
#legendAxis .tick text {
  fill: #001533;
  font-size: .9rem;
}
#tip {
  position: absolute;
  background: rgba(0, 21, 51, .75);
  color: white;
  font-size: .8rem;
  padding: .25rem;
  border-radius: .25rem;
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 500px) {
  #header div {
    font-size: 1rem;
  }  
  #key div {
    font-size: .8rem;
    margin: .5rem 0 .25rem 0;
  }
  #legend {
    height: 45px;
  }
  #legend rect {
    height: 20px;
  }
  #legendAxis .tick text {
    font-size: .65rem;
  }
}