@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #001533;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
}
#selector {
  position: fixed;
  background: #037cc2;
  color: white;
  box-shadow: 1px 1px 4px #001533;
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  font-size: 1.1rem;
  padding: .15rem;
  cursor: pointer;
  opacity: 0;
  outline: none;
}
option {
  background: white;
  color: #68788e;
  font-size: .9rem;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
}
#map {
  width: 100%;
  height: 100%;
  opacity: 0;
}
#border {
  stroke: #8495a9;
  stroke-dasharray: 2 3;
  fill: none;
}
#water {
  fill: #001533;
  stroke: white;
}
#suburbs {
  stroke: #ccc;
  fill: none;
}
.school .point {
  stroke: #001533;
  stroke-width: .5;
  pointer-events: none;
}
.school .point.selected {
  fill: white;
}
.cell {
  fill: rgba(0, 0, 0, 0);
}
#footer {
  font-family: ABCSansNovaLight, "Arial Narrow", Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}
#tip {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  padding: 2px 4px;
  background: #001533;
  color: white;
  font-size: .85rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #001533;
  font-family: ABCSansNovaLight, "Arial Narrow", Helvetica, sans-serif;
}
#tip span {
 color: #009de5;
 font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
}
.legendItem circle {
  stroke: #001533;
  stroke-width: .5;
}
.legendItem text {
  font-size: .8rem;
  fill: #001533;
  alignment-baseline:central;
}
@media only screen and (max-width: 600px) {
  .option {
    font-size: .8rem;
  }
}
